# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Output
dist/
build/

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log

# Editor / IDE
.vscode/
.idea/
.DS_Store

# Env files
.env
.env.local
.env.*.local

# Coverage (si usas Jest o similar)
coverage/

# Misc
*.swp
*.swo
